.stats-grid:first-child .stat-number::before{
    content:"🔥";
    display:block;
}

.stats-grid:last-child{
    background-image: linear-gradient(to right,#677ce6 10%,#7453ae);
    background-size: cover;
}

.stats-grid:last-child .stat-number,
.stats-grid:last-child .stat-label
{
    color:white;
}

.stats-grid:hover{
    transform:translateY(-10px);
    box-shadow:5px 5px 15px 0px #000000;
    transition: transform 0.3s linear, box-shadow 0.3s ease;
}

article.workout-plan:nth-last-of-type(2){
    border-left: 5px orange solid;
    background-color:#fff8ba; ;
}

.exercise-item:first-child,
.exercise-item:last-child
{
    border-left:5px #2ecc71 solid;
    background-color: #f0fff4;;
}

.exercise-item:nth-child(2n+2)::before {
    content:"⚡";
}

.goals-container input[type]:focus{
    border:1px blue solid;
    transform: translateY(1px);
    box-shadow:2px 2px 8px 0px blue;
    transition:transform 0.1s , box-shadow 0.1s;
}

.save-btn:hover{
    transform: translateY(-2px);
    background-color:#7454af;
    box-shadow:2px 2px 8px 0px black;
    transition:transform 0.3s,box-shadow 0.3s;
}

