.stats-grid:first-child .stat-number::before{
    content:"🔥";
    display:block;
}

.stats-grid:last-child{
    background-image: linear-gradient(to right,#677ce6 10%,#7453ae);
    background-size: cover;
}

.stats-grid:last-child .stat-number,
.stats-grid:last-child .stat-label
{
    color:white;
}

.stats-grid:hover{
    transform:translateY(-10px);
    box-shadow:5px 5px 15px 0px #000000;
    transition: transform 0.3s linear, box-shadow 0.3s ease;
}
